<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top scrolling-navbar">
  <div class="container col-md-12">
    <a class="navbar-brand" routerLink="/">English Connect</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" *ngIf="permissions[0].access === 1">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Courses
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let permission of permissions" class="nav-item active">
              <div *ngIf="permission.access === 1 && permission.group === 'courses'">
                <a class="nav-link dropdown-item" routerLink="{{permission.link}}">{{permission.section}}</a>
              </div>
            </li>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="permissions[2].access === 1">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Instructors
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let permission of permissions" class="nav-item active">
              <div *ngIf="permission.access === 1 && permission.group === 'instructors'">
                <a class="nav-link dropdown-item" routerLink="{{permission.link}}">{{permission.section}}</a>
              </div>
            </li>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="permissions[4].access === 1">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Students
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let permission of permissions" class="nav-item active">
              <div *ngIf="permission.access === 1 && permission.group === 'students'">
                <a class="nav-link dropdown-item" routerLink="{{permission.link}}">{{permission.section}}</a>
              </div>
            </li>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="permissions[5].access === 1">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Users
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let permission of permissions" class="nav-item active">
              <div *ngIf="permission.access === 1 && permission.group === 'users'">
                <a class="nav-link dropdown-item" routerLink="{{permission.link}}">{{permission.section}}</a>
              </div>
            </li>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="permissions[7].access === 1">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Statistics
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let permission of permissions" class="nav-item active">
              <div *ngIf="permission.access === 1 && permission.group === 'statistics'">
                <a class="nav-link dropdown-item" routerLink="{{permission.link}}">{{permission.section}}</a>
              </div>
            </li>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="signOut()">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">{{afAuth.auth.currentUser.email}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
