
#table:hover {
  background-color: #B4E4FB;
}

.no-attendance {
  color: red;
}

.attendance {
  color: green;
}

.photo-icon{
  width: 60px;
  border-radius: 100px;
}

.card-header{
  margin-top: 30px;
}

i{
  font-size: 20px;
}

h3{
  margin-top: 60px;
}

@media print {
  .noprint {
     display: none;
  }
}

