#table:hover {
  background-color: #b4e4fb;
}

#search {
  margin-bottom: 20px;
}

.header {
  background-color: #e0e0e0;
}

.row .div {
  font-size: 14px;
}

.card-header {
  margin-top: 30px;
}

i {
  font-size: 15px;
}

h3 {
  margin-top: 60px;
}
