<h3 class="text-center">Courses {{count}}</h3>
<div class="row bg-primary d-flex flex-row card-header">
  <div class="col-md-12 text-white text-center">Search By</div>
</div>
<div class="row d-flex flex-row card p-4" id="search">
  <div class="col-md-6">
    <div class="col-md-9"><input class="form-control" type="search" name="search" [(ngModel)]="searchName" placeholder="Course Name"></div>
    <div class="col-md-9"><input class="form-control" type="search" name="search" [(ngModel)]="searchYear" placeholder="Course Year"></div>
    <div class="col-md-9"><input class="form-control" type="search" name="search" [(ngModel)]="searchDay" placeholder="Course Day"></div>
  </div>
  <div class="col-md-6">
    <div class="col-md-9"><input class="form-control" type="search" name="search" [(ngModel)]="searchTime" placeholder="Course Time"></div>
    <div class="col-md-9"><input class="form-control" type="search" name="search" [(ngModel)]="searchBuilding" placeholder="Course Building"></div>
    <div class="col-md-9"><input class="form-control" type="search" name="search" [(ngModel)]="searchInstructor" placeholder="Instructor"></div>
  </div>
</div>

<div *ngFor="let course of filteredCourses let i=index">
  <div id="table" class="row d-flex flex-row card p-2" *ngIf="course.instructorEmail === email || admin === true">
   <div class="col-md-9">
    <div class="text-center row">
      <div class="col-md-3 text-left header">Name</div>
      <div class="col-md-9 text-left">{{course.name}} {{course.level}}</div>
    </div>
    <div class="text-center row">
      <div class="col-md-3 text-left header">Year</div>
      <div class="col-md-9 text-left">{{course.year}}</div>
    </div>
    <div class="text-center row">
      <div class="col-md-3 text-left header">Day</div>
      <div class="col-md-9 text-left">{{course.day}}</div>
    </div>
    <div class="text-center row">
      <div class="col-md-3 text-left header">Time</div>
      <div class="col-md-9 text-left">{{course.time}}</div>
    </div>
    <div class="text-center row">
      <div class="col-md-3 text-left header">Building</div>
      <div class="col-md-9 text-left">{{course.building}}</div>
    </div>
    <div class="text-center row">
      <div class="col-md-3 text-left header">Instructor</div>
      <div class="col-md-9 text-left">{{course.instructorName}} {{course.last_name}}</div>
    </div>
    <div class="text-center row">
      <div class="col-md-3 text-left header">Enrolled</div>
      <div class="col-md-9 text-left"><a [routerLink]="['/students/group', course.id]">{{course.count}}</a></div>
    </div>
   </div>

    <div class="col-md-3 text-center btn-block" aria-expanded="false" id="collapseExample">
      <button [routerLink]="['/attendance/register', course.id]" class="btn btn-warning btn-sm btn-block" title="Register Attendance">
        <div><i class="fas fa-clipboard-list"> List</i></div>
      </button>

      <button [routerLink]="['/attendance/group', course.id]" class="btn btn-success btn-sm btn-block" title="View attendance history">
        <div><i class="fas fa-history"> History</i> </div>
      </button>

      <button [routerLink]="['/student/add', course.id]" [disabled]="course.year !== currentYear && admin == false" class="btn btn-success btn-sm btn-block" title="Add Student">
        <div><i class="fas fa-user-plus"> Add Student</i></div>
      </button>

      <button [routerLink]="['/course/edit', course.id]" *ngIf="admin === true" class="btn btn-success btn-sm btn-block" title="Edit">
        <div><i class="fas fa-edit"> Edit</i></div>
      </button>

      <button class="btn btn-danger btn-sm btn-block" title="Delete" (click)="userDeletionPreference() ? deleteCourse(course.id) : delete=false" title="Delete">
        <div><i class="fas fa-trash"> Delete</i></div>
      </button>
    </div>
  </div>
</div>
