<h3 class="text-center">Record Attendance {{count}}</h3>
<div class="row">
    <div class="col-md-12 p-2">
      <div class="p-2">
        <form>
            <div class="row">
              <div class="col col-md-4">
                <label for="date" class="p-1">Date :</label>
                <input type="date" name="date"  [(ngModel)]="attendance.date">
              </div>
              <div class="col col-md-4">
                  <label for="lesson" class="p-1">Lesson :</label>
                  <select [(ngModel)]="attendance.lesson" name="attendance">
                    <option *ngFor="let option of options let i = index" [value]="option.option ">{{option.option}}</option>
                  </select>
              </div>
              <div class="col col-md-4 p-1">
                  <button class="btn btn-warning btn-block noprint" (click)="edit ? updateAttendance() : validateAttendanceRegistration()">
                    <i class="fas fa-save"></i> Save
                  </button>
              </div>
            </div>

            <div class="row bg-primary d-flex flex-row card-header m-2 p-2">
              <div class="col-md-1 text-white text-center">Number</div>
              <div class="col-md-8 text-white text-center">Name</div>
              <div class="col-md-1 text-white text-center">Attended</div>
            </div>

            <div id="table" class="d-flex flex-row card m-2 p-2">
              <div class="col-md-1 text-white text-center"></div>
              <div class="col-md-8  text-center">Select All</div>
              <div class="col col-md-1 text-center custom-control custom-checkbox p-3">
                <input type="checkbox" class="custom-control-input" id="customCheck" [checked]="1"
                (change)="toggleEditable($event)">
                <label class="custom-control-label" for="customCheck"></label>
              </div>
            </div>

            <div id="table" class="d-flex flex-row card m-2 p-2" *ngFor="let student of filteredStudents let i = index">
              <div class="col col-md-1 text-center" [class.attendance]="attendanceValues[i]" [class.no-attendance]="!attendanceValues[i]">
                {{i+1}}
              </div>
              <div class="col col-md-8 text-center p-3" [class.attendance]="attendanceValues[i]" [class.no-attendance]="!attendanceValues[i]">
                {{student.name}} {{student.last_name}}
              </div>
              <div class="col col-md-1 text-center custom-control custom-checkbox p-3">
                <input type="checkbox" class="custom-control-input" id="customCheck{{i}}" name="attendanceOptions[{{i}}]" [(ngModel)]="attendanceValues[i]">
                <label class="custom-control-label" for="customCheck{{i}}"></label>
              </div>
            </div>
        </form>
      </div>
    </div>
</div>
