<div class="col-md-6 container">
  <h3 class="text-center">Create / Edit User</h3>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="email" name="email" #email="ngModel" required email placeholder="User's email"
          [(ngModel)]="fireBaseUser.email" class="form-control" autofocus>
        </div>
        <div class="alert alert-danger" *ngIf="email.value === '' && email.dirty">
          Required Field
      </div>
      <div class="alert alert-danger" *ngIf="email?.errors?.email && email.touched && email.dirty">
        Email format not valid eg. test@test.com
      </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Contraseña" *ngIf="edit == false" [(ngModel)]="fireBaseUser.password" class="form-control">
        </div>
        <div class="form-group">
          <select name="rol" class="form-control" #rol="ngModel" [(ngModel)]="user.role" placeholder="Rol">
            <option [ngValue]="rols[0]">Admin</option>
            <option [ngValue]="rols[1]">Instructor</option>
          </select>
      </div>
        <button class="btn btn-success btn-block form-control" (click)="edit ? updateUser() : signUp()"
        [disabled]="!email.valid || !rol.dirty">
          Save
        </button>
        <button class="btn btn-warning btn-block form-control" *ngIf="edit == true" (click)="disableUser(fireBaseUser.disabled)">
            {{ fireBaseUser.disabled == true ? 'Enable Account' : 'Disable Account' }}
        </button>
        <button class="btn btn-info btn-block form-control" *ngIf="edit == true" (click)="resetPasword()">
            Change Password
        </button>
        <button class="btn btn-danger btn-block form-control" *ngIf="edit == true" (click)="deleteFirebaseUser(); deleteUserDB()">
            Delete User
        </button>
      </form>
    </div>
  </div>
</div>

