<div class="col-md-6 container">
  <h3>Add / Edit Student</h3>
  <div class="card">
    <div class="card-body">
      <form>
          <div class="alert alert-success" *ngIf="registration">
            The record was added successfully
          </div>
          <div class="form-group">
            <input type="text" name="name" #name="ngModel"placeholder="Student's name" pattern="^[a-zA-Z\s]*$"
          required [(ngModel)]="student.name" class="form-control" autofocus>
        </div>
        <div class="alert alert-danger" *ngIf="name.value === '' && name.dirty">
            Required Field
        </div>
        <div class="alert alert-danger" *ngIf="name.invalid && name.dirty && name.value !== ''">
            Only letters are allowed
        </div>
        <div class="form-group">
            <input type="text" name="Student's last name" #lastName="ngModel" placeholder="Last Name" pattern="^[a-zA-Z\s]*$"
            required [(ngModel)]="student.last_name" class="form-control" autofocus>
          </div>
          <div class="alert alert-danger" *ngIf="lastName.value === '' && lastName.dirty">
              Required Field
          </div>
          <div class="alert alert-danger" *ngIf="lastName.invalid && lastName.dirty && lastName.value !== ''">
              Only letters are allowed
          </div>
        <div class="form-group">
            <input type="email" name="email" #email="ngModel" required email placeholder="Student's email"
            [(ngModel)]="student.email" class="form-control" autofocus>
        </div>
        <div class="alert alert-danger" *ngIf="email.value === '' && email.dirty">
            Required Field
        </div>
        <div class="alert alert-danger" *ngIf="email?.errors?.email && email.touched && email.dirty">
          Email format not valid eg. test@test.com
        </div>
        <div class="form-group">
            <input type="text" name="phone" #phone="ngModel" pattern="^[0-9]*$"
            required placeholder="Student's phone number" [(ngModel)]="student.phone" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="phone.value === '' && phone.dirty">
            Required Field
        </div>
        <div class="alert alert-danger" *ngIf="phone.invalid && phone.dirty && phone.value !== ''">
            Only numbers are allowed
        </div>
        <div class="form-group">
          <input type="text" name="stake" #stake="ngModel"placeholder="Stake" pattern="^[a-zA-Z\s]*$"
        required [(ngModel)]="student.stake" class="form-control" autofocus>
      </div>
      <div class="alert alert-danger" *ngIf="stake.value === '' && stake.dirty">
          Required Field
      </div>
      <div class="alert alert-danger" *ngIf="stake.invalid && stake.dirty && name.value !== ''">
          Only letters are allowed
      </div>
      <div class="form-group">
        <input type="text" name="course_id" #course_id="ngModel"placeholder="Course ID" pattern="^G[0-9]-[0-9]*$"
      required [(ngModel)]="student.course_id" class="form-control" autofocus>
    </div>
    <div class="alert alert-danger" *ngIf="stake.value === '' && stake.dirty">
        Required Field
    </div>
    <div class="alert alert-danger" *ngIf="stake.invalid && stake.dirty && name.value !== ''">
        Only letters and numbers are allowed
    </div>


        <button class="btn btn-warning btn-block" (click)="edit ? updateStudent() : saveNewStudent()"
        [disabled]="!name.valid || !lastName.valid || !email.valid || !phone.valid || !stake.valid || course.valid">
          <i class="fas fa-save"></i> Save
        </button>
      </form>
    </div>
  </div>
</div>

