<h3 class="text-center">Instructors {{count}}</h3>

<div class="row bg-primary d-flex flex-row card-header">
  <div class="col-md-3 text-white text-center">Name</div>
  <div class="col-md-3 text-white text-center">Email</div>
  <div class="col-md-3 text-white text-center">Phone Number</div>
</div>
<div id="table" class="row d-flex flex-row card" *ngFor="let instructor of instructors">
  <div class="col-md-3 text-center">{{instructor.name}} {{instructor.last_name}}</div>
  <div class="col-md-3 text-center">{{instructor.email}}</div>
  <div class="col-md-3 text-center">{{instructor.phone}}</div>

    <div class="text-center">
      <button  [routerLink]="['/instructor/edit', instructor.id]" class="btn btn-success p-2" title="Edit"
      ><i class="fas fa-edit"></i> Edit</button>
    </div>
    <div class="text-center">
      <button class="p-2 btn btn-danger" (click)="userDeletionPreference() ? deleteInstructor(instructor.id) : delete = false" title="Delete"
      ><i class="fas fa-trash"></i> Delete</button>
    </div>
</div>
