<div class="col-md-6 container">
  <h3>Add / Edit Course</h3>
  <div class="card">
    <div class="card-body">
      <form #courseForm="ngForm">
        <div class="form-group">
          <input type="text" name="course" #name="ngModel" placeholder="Course name" pattern="^[a-zA-Z\s]*$"
          required [(ngModel)]="course.name" class="form-control" autofocus>
        </div>
        <div class="alert alert-danger" *ngIf="name.value === '' && name.dirty">
            Required Field
        </div>
        <div class="alert alert-danger" *ngIf="name.invalid && name.dirty && name.value !== ''">
            Only letters are allowed
        </div>
        <div class="form-group">
            <input type="text" name="level" #level="ngModel" pattern="[0-3]{1}"
            placeholder="Level" required [(ngModel)]="course.level" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="level.value === '' && level.dirty">
            Required Field
        </div>
        <div class="alert alert-danger" *ngIf="level.invalid && level.dirty && level.value !== ''">
            Only numbers from 1 to 3 are allowed
        </div>
        <div class="form-group">
            <input type="text" name="year" #year="ngModel" pattern="[0-9]{4}"
            placeholder="Year in which the course wil be taught" required [(ngModel)]="course.year" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="year.value === '' && year.dirty">
            Required Field
        </div>
        <div class="alert alert-danger" *ngIf="year.invalid && year.dirty && year.value !== ''">
            Only 4 numbers are allowed
        </div>
        <div class="form-group">
          <select name="day" class="form-control"
                  [(ngModel)]="course.day">
            <option *ngFor="let day of days let i = index"
            [ngValue]="day"
            [selected]="course.day === day && edit === true">{{day}}</option>
          </select>
        </div>
        <div class="form-group">
            <input type="text" name="time" #time="ngModel" placeholder="Time of the course" pattern="\b((1[0-2]|0?[1-9]):([0-5][0-9]) ([AP][M]))"
            required [(ngModel)]="course.time" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="time.invalid && time.dirty && time.value !== ''">
            The time has the following format h:mm PM / AM
        </div>
        <div class="alert alert-danger" *ngIf="time.value === '' && time.dirty">
            Required Field
        </div>
        <div class="form-group">
          <select name="building" class="form-control"
                  [(ngModel)]="course.building">
            <option *ngFor="let building of buildings let i = index"
            [ngValue]="building"
            [selected]="course.building === building && edit === true">{{building}}</option>
          </select>
        </div>
        <div class="form-group">
          <select name="getIntructor" class="form-control" #instructor="ngModel"
                  [(ngModel)]="course.instructor_id">
            <option value="0" disabled>Select One</option>
            <option *ngFor="let instructor of instructors let i = index"
                    [ngValue]="instructor.id"
                    [selected]="(instructors.id === course.instructor_id && edit === true) || (instructor.id == 0 && edit === false)"
                    >{{instructor.name}} {{instructor.last_name}}</option>
          </select>
        </div>
        <button class="btn btn-warning btn-block" (click)="edit ? updateCourse() : saveNewCourse()"
                [disabled]="!name.valid || !level.valid || !year.valid || !time.valid || instructor.pristine">
         <i class="fas fa-save"></i> Save
        </button>
      </form>
    </div>
  </div>
</div>
